html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.form-control-small {
    width: 150px; 
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; /* Cambia el número de columnas según sea necesario */
    gap: 5px; /* Espacio entre columnas */
    align-items: center; /* Alinea los elementos verticalmente */
}

 .form-row:not(:first-child) input {
        width: 80px; /* Ajusta el tamaño según sea necesario */
 }
.control-label {
    font-size: 14px; /* Cambia a la medida que prefieras */
    font-weight: normal; /* Opcional: ajusta el peso de la fuente si es necesario */
}